@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
:root{
    --oliver: #4e461e; 
    --barlap: #dec497b9; 
    --coconut:#e9e6cda5;
    --cinnamon:#6b330b; 
    --slate: #212116; 
    --textI: "Abel", sans-serif ;
    --textS: "Inconsolata", monospace;
}
/* #98866f; #efdfcb; #f4f2e4; #a3623a #2d2d2d; */
 /* #5e0000; #8c5d4255; #a39878;#592411e5; #0D0B0C;   */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--coconut);
    color: var(--slate);
    font-family: var(--textS);
}
nav{
    background-color: var(--oliver);
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0px; 
    width: 100%; 
    height: 47px;
    box-shadow: 2px 3px 60px 12px rgba(0, 0, 0, 0.233);
}
#ico {
    font-family:var(--textI);
    position: absolute;
    left: 6%; 
    font-size: 1.6em;
    top:18px ;
    color: var(--coconut);
}
.links{
    display: flex;
    margin-top: 14px;
    margin-right: 10px;
}
.links>li{
    list-style-type: none;
    margin: 4px;
    padding: 3px;
} 

li>a{
    font-size:1.5em;
    color: var(--coconut);
    text-decoration: none;
    padding: 6px 10px;  
}
#mnu{
    color: var(--coconut);
    position: absolute;
    right: 23px;
    top: 17px;
    font-size: 1.7em;
    display: none;
    cursor: pointer;
}

p{
    text-indent: 1em;
    color: var(--slate);
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: 0.3;
    padding: 2px;
}

hr{
    border: none;
    height: 1px;
    margin: 90px 1px 2px 10px;
    width: 28%;
    background-image: linear-gradient(to right,rgb(73, 2, 106), transparent) ;
} 
h2 {
    font-size: 1.4;
    font-family: var(--textI);
    color: var(--oliver);    
}

h3{
    font-size: 1.2em;
    font-family: var(--textI);
    color: var(--slate);
}
@media (max-width:1020px){
#f1{
    display: flex;
    flex-direction: column;   
    align-items: center; 
}
}

section {
    margin: 0px auto;
    padding: 30px;
    min-width: 300px;
}

@keyframes animacao-borda-baixo {
    from{
        outline: 1px solid var(--coconut);
    }
    to{
        outline: 2px solid rgba(255, 255, 255, 0.609);
    }
    
}
#sobre{
    display: flex;
    margin-top: 10%;
    margin-bottom: 8%;
    outline-offset: 6px;
    border: 1px solid rgba(255, 255, 255, 0.39) ;
    animation:animacao-borda-baixo 5s 2s infinite alternate  ;
    background-image:linear-gradient(to bottom,var(--coconut),var(--barlap), var(--coconut) ) ;
    width: 90%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
#paragrafo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px ;
    width: 50%;
    min-height: 40vh;
}
#paragrafo >p{
    font-size: 1.3em;
}
#paragrafo> h1{
    margin-bottom: 10px;
}
.but{
    margin-top: 50px;
    width: 20%;
    min-width: 124px;
    padding: 6px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: #887a32d8 ;
    border-radius: 20px;
    border: 1px solid #3d3717af;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.157);
    color: var(--slate);
    cursor: pointer;
}
input[type="submit"] {
    padding: 3px ;
}
#DivDaImg >img{
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 50%;
}
#tecnologias{
    box-shadow:  1px 1px 2px 1px #00000009;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
#listas{
    border: 1px solid #aeabab48;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color:var(--coconut) ; 
} 
.coluna{
    width: 26%;
    min-width: 300px;
    text-align: center;
    margin: 9px 1%;
}
.coluna>ul{
    list-style-type: none;
    padding: 0;
    box-shadow: inset 1px 1px 8px 2px rgba(0, 0, 0, 0.044);
}
.coluna li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 8px 2px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.211);
}
.coluna i{
    font-size: 2.4em;
    margin-right: 5px;
    vertical-align: middle;
    color: var(--oliver);
}
.coluna abbr{
    text-decoration: none;
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 7px;
}
.progress-bar-container {
    width: 56%; 
    background-color: #4e461e92; 
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin: 10px 0;
}
.progress-bar {
    height: 100%;
    background-color: var(--oliver);
    border-radius: 10px; 
}
.percentage {
    font-size: 1.2em;
    color: var(--slate);
    margin-left: 5px;
}
#projetos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.proj{
    margin: 1%;
    box-shadow: inset 1px 2px 40px 12px #13120e1a;
    padding: 5px;
    width: 57%;
    display: flex;
    min-width: 340px;
    flex-direction: column;
    align-items: center;  
    border-radius: 20px;
    background-color: var(--coconut);
}

.projetos ,.projeto{
    width: 99% ;
    background-color:var(--coconut);
    border:  3px double #4d4523d7;
    padding: 2px  ;
    border-radius: 10px;
    overflow: auto;
    max-height: 240px;
    min-width: 150px;
    
}
.projetos ,.projeto{
    margin: 20px 10px;
}

.projeto{
    margin-left: auto;
}
.projetos{
    margin-right: auto;
}
.proj img{
    background-color: #212116;
    width: 56%; 
    min-width: 300px;
    max-height: 250px; 
    margin: 5px;  
    float: left;
} 
.projeto img{
    float: right;
}

.esquerda,.direita{
    margin: 10px;
    padding: 10px;
}
.esquerda button{
    float: left;
    margin: 10px ;
}
.direita button{
    float: right;
    margin: 10px;
}
.proj button{
 border: 1px solid rgb(255, 255, 255) ;
 border-radius: 5px;
 background:var(--barlap);
 padding: 2px 2px;
 cursor: pointer;
 transition: background-color 0.5s ease; 
}
.proj button:hover{
    background-color:#7e4318c6;
}
.proj i{
    padding: 3px;
    font-size: 1.7em;
}
 button >p{
    font-weight: 500;
    text-align: center;
    padding: 1px 14px 2px 1px;
    font-size: 17px;
   
}
#projetos h2{
    margin-right: 70%;
    margin-bottom: 10px;
}
.scroll{
    scroll-margin-top: 100px;
}

#contato{
    background-image: linear-gradient(to bottom, transparent 30%, #853e0c40);
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 150px ;
    padding-bottom: 120px;
}
.cont{
    padding: 8px;
    text-align: center;
    width: 50%;
    min-width: 324px;
    background-color: var(--coconut);
    border: 1px solid rgba(40, 40, 40, 0.129);
    box-shadow: 1px 1px  20px 1px var(--coconut);
}

.fil{
    border-style: none;
}
#f1{
    margin: 25px 1px ;
}

#f2{
    margin: 50px  20px 5px 2% ;
}
input[type=text],textarea,input[type=email]{
    border-radius: 10px;
    padding: 4px;
    background-color: transparent;
    border: 1px solid var(--oliver);
}
input[type=text],input[type=email]{
    margin: 20px 20px 1px 2px;
    width: 25%;
    min-width: 170px;

}
textarea{
    min-width: 50%;
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 30px;
}
label{
    font-size: 1.2em;
}
::placeholder{
    font-size: 1.2em; 
}
.but:hover{
    background-color:var(--oliver);
    color: var(--coconut);
    box-shadow: 9px 6px 3px rgba(0, 0, 0, 0.143);
    transition: background-color 0.6s ease, color 0.5s ease; 
}

footer {
    background-color: var(--cinnamon);
    color: var(--barlap);
    display: flex; 
}
footer .Redes {
    display: flex;
    width: 150px;
    margin: 1px 40px;
}
.Redes a{
    font-size:  1.3em;
    padding: 1px 10px;
    color: var(--coconut);
}

@media (max-width:710px){
    #sobre{
        border: none;
    }
    li> a{
        font-size: 18px;
        line-height: 1;
       letter-spacing: 0.5;
    }
    h1,h2{
        font-size: 1.3em;
    }
   
    #mnu{
        display:inline;
    }
    .links {
        text-align: right;
        position: absolute;
        width: 150px;
        top: 32px;
        right: 14px;
        background-color: #212116;
        display: none;
    }
    .links.show{
        display: block;
    }
    .links li{
        margin: 6px 5px;
    }   
    .cont{
        width: 210px;
    }
    textarea{
        max-width: 250px;
        max-height: 200px;
    }
   .projeto,.projetos{
        margin: auto;
    }
    .proj button{
        background-color: #f3f3f094;
        border: 1px solid rgba(249, 248, 248, 0.789); 
    }
    .proj button:hover{
        background-color:#262c4989;
    }
    .proj{
        background-image: linear-gradient(to bottom, rgb(0, 0, 0)5%, rgba(34, 40, 54, 0.565) 15%,var(--coconut));
    }
 
    #sobre{
        margin-top: 15%;
    }
    #DivDaImg >img{
        width: 100%;
        z-index: 1;
    }
   
}    




