*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --coconut:#e4e1d1dc;
    --white: rgb(255, 255, 255); 
}
body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    background-color: var(--coconut)!important;
    background-image: url(../imagens/Folhas_PNG_Transparente_Sem_Fundo.png);
    background-attachment: fixed;
    background-position: center;
}
main {
  flex: 1;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;  
}
nav{
  font-size: 18px;
}
nav ul li:hover{
    background-color: #e4e1d10a;
}
#menu_button{
    color: var(--coconut);
}
#aside_icone{
    position: fixed;
    top: 50%;
    left: 1%;
    z-index: 3;
}
#home_imagem {
    width: 30%;
    min-width: 300px;
    height: 375px;
    background-image: url(../imagens/eu.png);
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
}
main{
    background-color:#e4e1d188;

}
#inicio{
    margin-top: 0% ;
    padding: 20vh 2px;
}

#carouselExampleIndicators{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.167);
    padding: 3% 0%;
}
.container_car{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

#html_colorido{
    background-image: linear-gradient(45deg, #e4eb5c,rgb(223, 130, 68),rgb(175, 37, 74), rgb(219, 141, 154));
	
}
#css_colorido{
    background-image: linear-gradient(45deg, rgba(73, 210, 208, 0.989),rgb(20, 43, 146),rgb(85, 240, 155),black);
}
#js_colorido{
    background-image: linear-gradient(45deg, rgba(249, 233, 60, 0.885),rgba(227, 227, 180, 0.974),orange,black);
}
#bot_colorido{
    background-image: linear-gradient(45deg,rgb(142, 243, 243),rgba(35, 26, 161, 0.966),rgb(32, 195, 220));
}
#rec_colorido{
    background-image: linear-gradient(45deg,rgb(30, 150, 152),rgba(185, 246, 241, 0.939),blue,green);
}
#php_colorido{
    background-image: linear-gradient(45deg,rgb(194, 146, 233),rgba(84, 6, 115, 0.9),rgb(179, 45, 114),pink);
}
#my_colorido{
    background-image: linear-gradient(45deg,rgb(41, 206, 212),rgba(230, 166, 63, 0.926),rgb(58, 110, 183),rgb(207, 213, 36));
}
#node_colorido{
    background-image: linear-gradient(-45deg,rgb(62, 193, 88),rgba(13, 12, 12, 0.865),rgb(18, 145, 43),rgb(22, 22, 22));
}
#aja_colorido{
    background-image: linear-gradient(-45deg,rgb(48, 157, 196),rgba(58, 158, 118, 0.927),rgb(185, 227, 243),rgb(4, 86, 12));
}
#json_colorido{
     background-image: linear-gradient(45deg,rgb(19, 30, 35),rgba(244, 248, 248, 0.961),rgb(141, 140, 140));
}
#git_colorido{
    background-image: linear-gradient(-45deg,rgb(95, 107, 112),rgba(18, 19, 19, 0.865),rgb(95, 107, 112),rgb(18, 22, 24),white);
}
#gli_colorido{
     background-image: linear-gradient(-45deg, rgb(69, 118, 141),rgba(174, 92, 180, 0.865),rgb(106, 178, 211),rgb(215, 57, 154));
}
#inf_colorido{
    background-image: linear-gradient(45deg,rgb(85, 17, 114),rgba(218, 191, 230, 0.865),rgb(85, 17, 114),rgb(230, 190, 247)); 
}
#fig_colorido{
      background-image: linear-gradient(-45deg,rgb(132, 230, 131),rgba(227, 72, 155, 0.865),rgb(132, 230, 131),rgb(153, 48, 81)); 
}
.colorido {
  padding: 10px;
  border-radius: 15px;
  width: 20%;
  min-width: 220px;
  margin: 1em;
  background-size: 400% 400%;
  animation: colors 6s ease infinite;
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.tech-card {
  background: linear-gradient(135deg, #ffffff, #f6f5f5);
  border-radius: 11px; 
  outline: 2px solid white;
  outline-offset: 4px;
  padding: 4%;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
  box-shadow: 5px 4px 3px 1px rgba(0, 0, 0, 0.127);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tech-card img{
    width: 40px;
}
.tech-card .imagem_maior{
    width: 80px;
}
.tech-card .imagem_m{
    width: 50px;
}
.tech-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.7rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(80%) sepia(0%) saturate(1000%) hue-rotate(200deg); 
}


.tech-header h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0 ;
  text-align: center;
  color: #111;
  padding-bottom: 3px;
  border-bottom: 2px solid  #333 ;
}

.tech-body p {
  font-size: 1rem;
  margin: 1rem 0;
  color: #333;
  text-align: center;
}

.tech-body .nivel {
  font-weight: 300;
  color: #555555fa;

}

hr{
    height: 2px;
    color: black;
    width: 20%;
}
#projetos{
    background-image: linear-gradient(#e4e1d104,#e4e1d1b6,#e4e1d104);
}
#projetos_principais{
    width: 100%;
}
.container_principais{
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 100%;
}
.projeto {
    width: 32%;
    min-width: 320px;
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.968);
    border: 2px solid black;
    position: relative;
    border-radius: 10px;
}
.projeto img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px;
    transition: 0.3s ease;
}
.projeto .texto{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: rgba(239, 237, 237, 0.918);
    background-color:rgba(0, 0, 0, 0.838);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 1em;
    border-radius: 10px;

}
.texto button{
    font-size: 1.1em;
}
.texto p{
    width: 90%;
    font-size: 1.1em;
}
.texto h3{
    font-size: 1.3em;
}
.projeto:hover .texto{
    opacity: 1;
}
.msg{
    border-right: 2px solid black;
    overflow: hidden;
    white-space: nowrap;
    width: 21.4ch;
    animation: mark .5s step-end infinite, write 3s steps(23,end) 1;
}
@keyframes mark {
    50%{
        border-right-color:transparent;
    } 
}
@keyframes write {
    0%{
        width: 0px;
    }
}
#sobre{
    padding: 2%;
    box-shadow: inset 1px 3px 17px 7px rgba(0, 0, 0, 0.331);
}
#sobre h2{
    color: var(--coconut);
}
#contends{
    border: 1px solid rgba(255, 255, 255, 0.094);
    box-shadow: inset 5px 5px 15px rgba(15, 15, 15, 0.943);
    width: 70%;
    min-width: 280px;
    flex-flow: row nowrap ;
    padding: 4px;
    height: 360px;
    overflow-y: hidden; 
    overflow-x: auto; 
    scroll-behavior: smooth;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective-origin: right;
    -moz-perspective-origin: right;
    perspective-origin: right;
}
.card{
    position: relative;
    flex: 1 0 230px;
    height: 400px;
    margin: 20px 30px;
    text-align: center;
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: .2s ease-in-out;
}
.card_front, .card_back{
    box-shadow: 10px 10px 6px 2px rgba(0, 0, 0, 0.716);
    border-top: 1px solid rgba(255, 255, 255, 0.175);
    border-left: 1px solid rgba(255, 255, 255, 0.122);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card_front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pint {
 width: 100%;
 height: 100%;
 background-image: url(../imagens/pintura.jpg);
 background-position: center ;
}
.card_front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2; 
}
.card_back{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.02em;
    padding: 4px;
    box-sizing: border-box;
    overflow-x: auto;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-family: 'Arimo', sans-serif;
}
.card_back p{
    color: var(--coconut);
}
 .card:hover{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg) ;
    transform: rotateY(180deg) ;
    cursor: pointer;
}
.gradiend-icone {
    background: linear-gradient( to bottom,#E76F00,#3983b5); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.back-azul{
    background-color:#7b80bd;
    border-radius: 50%;
    width: 60px;
    height: 34px;
    text-align: center;
    padding: 1px 1px 6px 1px;
}
.icone-boot{
    color:  #0d6efd;
}
.scroll{
    scroll-margin-top: 100px;
}
.oculto {
  display: none !important;
}
#skillsRadars{
    overflow-x: auto;
}
#skillsRadar{
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.002);
    backdrop-filter:blur(10px);
}
@media (max-width:400px) {
    #skillsRadar{
        max-width: 90%;
    }
    .texto p{
    width: 99%;
    font-size: 1.1em;
    }
}