@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --oliver: #066339; 
    --coconut:#f0eee0f3;
    --cinnamon: #8b3925e7; 
    --slate: #1f1f16f3; 
    --textI: "Abel", sans-serif ;
    --textS: "Roboto", serif;
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    box-shadow: inset 1px 10px 66px rgba(0, 0, 0, 0.016);
}
body{
    background-color: var(--coconut);
    background-image: url(../imagens/Folhas_PNG_Transparente_Sem_Fundo.png);
    background-attachment: fixed;
    background-position: center center;
    color: var(--slate);
    font-family: var(--textS);
}
nav{
   background-image: linear-gradient(to bottom, var(--oliver) 90%, transparent);
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0px; 
    width: 100%;
    z-index: 3; 
    height: 55px;
   box-shadow: 3px 4px 31px rgba(0, 0, 0, 0.227);
}
#ico {
    font-family:var(--textI);
    position: absolute;
    left: 6%; 
    font-size: 1.5em;
    top:15px ;
    color: var(--coconut);
}
.links{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
}
.links>li{
    list-style-type: none;
    margin: 1px 6px;
    padding: 2px;
    background-color: #23222219;
    border-radius: 10px;
} 
.links>li:hover{
    background-color: rgba(255, 255, 255, 0.103);
}
li>a{
    font-size:1.2em;
    color:var(--coconut);
    text-decoration: none;
    margin: 2px 10px;  
}
#mnu{
    background-color: rgba(255, 255, 255, 0.017);
    color: var(--coconut);
    position: absolute;
    right: 3%;
    top: 17px;
    font-size: 1.7em;
    display: none;
    cursor: pointer;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.029);
}
#mnu:hover{
    background-color: rgba(255, 255, 255, 0.143);
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.029);

}
p{
    text-indent: 1em;
    color: var(--slate);
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: 0.3;
    padding: 1px;
}
hr{
    border: none;
    height: 4px;
    margin: 87px 1px 2px 10px;
    width: 28%;
    background-image: linear-gradient(to right, var(--oliver), transparent) ;
} 
h2 {
    font-size: 1.4;
    font-family: var(--textI);
    color: var(--slate);    
}
h3{
    font-size: 1.4em;
    font-family: var(--textI);
    color: var(--slate);
}
@media (max-width:1020px){
#f1{
    display: flex;
    flex-direction: column;   
    align-items: center; 
}
}
section {
    margin: 0px auto;
    padding: 30px;
    min-width: 300px;
}
@keyframes animacao-borda-baixo {
    from{
        outline: 1px solid transparent;
    }
    to{
        outline: 1px solid white;
    }   
}
#disp{
    display: none;
}
.fundo{
    width: 100%;
    margin-top: 0px;
    min-width: 300px;
    padding: 2px;
    background-color:#0663391a;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.046);
}
#home{
    display: flex;
    margin-top: 13%;
    margin-bottom: 10%;
    outline-offset: 6px;
    border: 1px solid rgba(248, 247, 247, 0.995) ;
    animation:animacao-borda-baixo 3s 2s infinite alternate  ;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: var(--coconut);
}
#sobre{
    background-color: rgba(6, 6, 6, 0.929);
    padding: 30px;

}
.contFatos{
    width: 60%;
    min-width: 300px;
    margin: auto;
    display: flex;
    justify-content: start;
    gap: 20px;
    overflow-x:scroll ;
    overflow-y: hidden;
}
.fatos{
    flex: 0 0 280px;  
    height: 400px;
    background-size: cover;
    background-position: center center; 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.598);
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fatos i{
    color: white;
    font-size: 1.8em;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.937);
    cursor: pointer;
    z-index: 2;
    position: absolute;
    bottom: 2px;
    left: 4px;
}
.d1{
    background-image: url(../imagens/gatito.jpeg);
    background-position:  top center;
}
.d2{
    background-image: url(../imagens/viper-8362870_640.jpg);
}
.d3{
    background-image: url(../imagens/wolverine-6074789_640.jpg);
}
.d4{
    background-image: url(../imagens/pintura.jpg);
}
#sobre h2{
    color: var(--coconut);
    margin: 5px;
    text-align: center;
}
.up{
    display: none;
    padding: 10px;
}
.up p{
    color: var(--coconut);
}
#paragrafo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px ;
    width: 50%;
    min-height: 40vh;
}
#paragrafo >p{
    font-size: 1.3em;
}
.cont-msg{
    padding: 10px;
}
.msg{
    border-right: 6px solid var(--slate);
    overflow: hidden;
    white-space: nowrap;
    width: 20ch;
    animation: mark .5s step-end infinite, write 3s steps(22,end)1;

}
@keyframes mark {
    50%{
        border-right-color:transparent;
    } 
}
@keyframes write {
    0%{
        width: 0px;
    }
}
.but{
    margin-top: 50px;
    width: 19%;
    min-width: 124px;
    padding: 6px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color:#0a6d409c ;
    border-radius: 20px;
    border: 1px solid var(--coconut);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.157);
    color: var(--slate);
    cursor: pointer;
    transition: 0.3s;
}
input[type="submit"] {
    padding: 3px ;
}
.proj button{
    color: var(--slate);
    background-color:#5f8d79;
    border: 1px solid var(--coconut);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.068);
    border-radius: 15px;
    padding: 2px 2px;
    cursor: pointer;
}
.but:hover,.proj button:hover {
    color: var(--coconut);
    background-color: var(--cinnamon);
    box-shadow: 9px 6px 3px rgba(0, 0, 0, 0.071);
    transition: 0.5s;
}
.proj button >p:hover {
    color: var(--coconut);
}
#DivDaImg >img{
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 50%;
}
@media (max-width: 700px) {
    #DivDaImg > img{
        display: none;
    }
    #paragrafo{
        width: 80%;
    }
    #paragrafo button{
        margin: 20px auto;
        padding: 3px;
    }
}
#tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 2px 20px 5px rgba(0, 0, 0, 0.034);
    border-top: 1px solid #e4e6e4ef; 
    background-color: var(--slate);
} 
#tecnologias h2{
    color: var(--coconut);
    font-size: 1.6em;
}
#listas{
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 86%;
    padding: 10px;
    box-shadow: 1px 2px 12px 3px rgba(0, 0, 0, 0.075);
    background-color: rgb(233, 227, 212);
} 
.coluna{
    width: 28%;
    min-width: 300px;
    text-align: center;
    margin: 9px 1%;  
}
.coluna>ul{
    list-style-type: none;
    padding: 0;
    box-shadow:  inset 1
    2px 8px 2px rgba(16, 3, 3, 0.094);
}
.coluna li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin: 10px 6px;
    box-shadow:  1px 1px 8px 2px rgba(0, 0, 0, 0.101);

}
.coluna i{
    font-size: 2.8em;
    vertical-align: middle;
}
.coluna abbr{
    text-decoration: none;
    font-size: 1.3em;
    vertical-align: middle;
    margin: 2px 7px;
}
.progress-bar-container {
    width: 56%; 
    background-color: #1f090e2d; 
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin: 10px 0;
}
.progress-bar {
    height: 100%;
   /* background-image: linear-gradient( to right, var(--slate),var(--cinnamon));*/
   background-color: var(--cinnamon);
    border-radius: 10px; 
}
.percentage {
    font-size: 1.2em;
    color: var(--slate);
    margin-left: 5px;
}
#projetos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.proj{
    margin: 1%;
    box-shadow: inset 1px 2px 40px 12px #13120e27;
    padding: 5px;
    width: 54%;
    display: flex;
    min-width: 650px;
    flex-direction: column;
    align-items: center;  
    border-radius: 15px;
    background-color:#9eb09f ;
    
}

.projetos ,.projeto{
    width: 90% ;
    background-color:var(--coconut);
    border:  4px double #fbfbf952;
    padding: 2px  ;
    border-radius: 15px 2px;
    overflow: auto;
    max-height: 260px;
    min-width: 300px;   
    box-shadow: 1px 2px 20px 6px rgba(0, 0, 0, 0.158);
}
.projetos ,.projeto{
    margin: 10px;
}
.projeto{
    margin-left: auto;
}
.projetos{
    margin-right: auto;
}
.proj img{
    background-color: #212116;
    width: 56%; 
    min-width: 300px;
    max-height: 250px; 
    margin: 5px;  
    float: left;
} 
.projeto p, .projetos p{
    padding: 20px;
}
.projeto img{
    float: right;
}
.esquerda,.direita{
    margin: 10px;
    padding: 10px;
}
.esquerda button{
    float: left;
    margin: 10px ;
}
.direita button{
    float: right;
    margin: 10px;
}
.proj i{
    padding: 3px;
    font-size: 1.7em;
}
 button >p{
    font-weight: 500;
    text-align: center;
    padding: 1px 14px 2px 1px;
    font-size: 18px;  
}
#projetos h2{
    margin-right: 70%;
    margin-bottom: 10px;
}
.scroll{
    scroll-margin-top: 100px;
}
#contato{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 150px ;
    padding-bottom: 120px;
}
.cont{
    display: flex;
    justify-content: center;
    padding: 2px;
    text-align: center;
    width: 47%;
    min-width: 390px;
    background-color: var(--slate);
    border: 1px solid rgba(40, 40, 40, 0.129);
    border-radius: 30px 2px;
    box-shadow: 1px 1px  20px 1px var(--coconut);
}
form{
    width: 99%;
}
.fil{
    border-style: none;
    font-family: var(--textS);
}
#f1{
    margin-top: 20px;
}
#f1-2{
    width: 96%;
    font-size: 1.2em;
    margin: 10px;
    border: 1px solid black;
    box-shadow: inset 12px 2px 23px rgba(0, 0, 0, 0.072);
}
#f1-2 legend{
    font-size: 18px;
}
#f1-2 .itens{
    display: flex;
    margin: 3% 2%;
    gap: 7px 30px; 
    justify-content: center;
    flex-wrap: wrap;
}
form input, form h2, form p, form label {
    color: var(--coconut);
}
input[type=text],input[type=email]{
    padding: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--coconut);
}
input[type=text],input[type=email]{
    margin: 2% 20px ;
    width: 25%;
    min-width: 140px;
}
textarea{
    min-width: 56%;
    max-width: 320px;
    min-height: 50px;
    max-height: 140px;
    margin: 10px 2px 2px;
    padding: 4%;
    background-color: rgba(235, 232, 232, 0.87);
    border: 1px solid rgb(255, 255, 255);
}
::placeholder{
    font-size: 1.4em; 
}
.menor{
    width: 25%;
    padding: 1px;
    font-size: 1em;
    margin: 17px;
    background-color: var(--coconut);
    color: var(--slate);
}
.menor:hover{
    background-color: var(--cinnamon);
}
footer {
    background-color: var(--cinnamon);
    display: flex;
    justify-content: center; 
}
footer p{
    color: var(--coconut);
}
#direita{
    position: fixed;
    top: 50%;
    right: 1%;
}
#esquerda{
    position: fixed;
    top: 50%;
    left: 1%;
}
.Redes a{
    font-size:  1.8em;
    padding: 1px 14px;
    color: rgb(255, 255, 255);
    background: rgba(11, 10, 10, 0.832);
    border: 1px solid var(--coconut);
    border-radius: 50%;
    margin: 2px 7px;
    z-index: 4;
}
.Redes a:hover{
    background-color: rgba(255, 255, 255, 0.778);
    color: rgb(166, 25, 25);
    border: 1px solid brown;
}
@media (max-width:870px) {
    .proj{
        width: 80%;
        min-width: 340px;
    }
}
@media (max-width:740px){
    #home{
        margin-top: 150px;
        border: none;
    }
    li{
        border: 1px solid rgba(255, 255, 255, 0.122);

    }
    li> a{
        font-size: 1.3em;
        line-height: 1;
        letter-spacing: 0.5;
    }
    
    h1,h2{
        font-size: 1.3em;
    }  
    #mnu{
        display:inline;
    }
    .links {
        text-align: right;
        position: absolute;
        width: 150px;
        top: 37px;
        right: 15px;
        background-color:var(--oliver);
        display: none;
        border-radius: 5px;
        border: 1px solid var(--coconut);
    }
    .links.show{
        display: block;
    }
    .links li{
        margin: 6px 5px;
    }   
   
    textarea{
        max-width: 250px;
        max-height: 200px;
    }
   .projeto,.projetos{
        margin: auto;
    }
    #DivDaImg >img{
        width: 100%;
        z-index: 1;
    }
    .Redes a{
        font-size: 1.6em;
    }
    .coluna i{
        font-size: 2em;
    }
   
}    
.gradiend-icone {
    background: linear-gradient( to bottom,#E76F00,#3983b5); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }
.back-azul{
    background-color:#777BB4;
    border-radius: 50%;
    width: 60px;
    height: 34px;
    padding: 1px 1px 6px 1px;
}
.cobra{
    background: linear-gradient( to bottom,#215f92, #FFD43B);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.icone-boot{
    color:  #0d6efd;
}


